*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

.row {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.row-100 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-column-100 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-col {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.custom-font {
    font-family: 'playfair display', serif;
}

header {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding: 60px;
    align-items: flex-end;
    background-image: url('../img/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-heading {
    font-size: 6rem;
    font-style: italic;
    padding: 0 2rem;
}

.banner-text {
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    color: black;
    padding: 30px;
}

.announce-section {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #d9b1b3;
    color: white;
}

.announce {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 15px;
    width: 70%;
}

.announce span {
    font-size: 6rem;
    line-height: 0;
}

.announce-section p {
    font-size: 0.8rem;
    width: 50%;
}

.gallery .img-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery .gallery-image-1 {
    background-image: url(../img/gallery-1.jpeg);
}

.gallery .gallery-image-2 {
    background-image: url(../img/gallery-2.jpeg);
}

.gallery .gallery-image-3 {
    background-image: url(../img/gallery-3.jpeg);
}

.gallery .gallery-image-4 {
    background-image: url(../img/gallery-4.jpeg);
}

.gallery .gallery-image-5 {
    background-image: url(../img/gallery-5.jpeg);
}

.gallery .gallery-image-6 {
    background-image: url(../img/gallery-6.jpeg);
}

.coming-soon {
    background-color: #d9b1b3;
    padding: 50px 0;
    color: white;
}

.coming-soon .row-column-100 {
    justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form {
    text-align: center;
}

.coming-soon .coming-soon-heading {
    font-size: 4rem;
    font-style: italic;
}

.coming-soon .coming-soon-text {
    font-size: 1.3rem;
}

.coming-soon .coming-soon-form {
    margin-top: 35px;
}

.coming-soon .row-100 {
    justify-content: center;
}

.coming-soon-form .input-container {
    padding: 0 5px;
    display: flex;
    justify-content: center;
}

.input-container .text-input,
.input-container .form-button {
    padding: 12px 10px;
    border: unset;
    border-radius: 20px;
}

.input-container .form-button {
    background-color: black;
    color: white;
}

.article-section {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    display: flex;
}

.article-section .image-container {
    flex-grow: 1;
    height: 700px;
    background-position: center;
    width: 40%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-section .article-image {
    background-image: url(../img/article-img.jpeg);
    flex: 1;
    width: 100%;
}

.article-section .article-right {
    width: 60%;
    margin: auto 2rem;
    text-align: justify;
}

.article-section .article-comment {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 60px 0 0 0;
}

.aria-container {
    height: 60px;
    width: 50%;
    margin: 3rem 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.aria-image {
    background-image: url(../img/aria.png);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: contain;
    width: 100%;
    height: 60px;
    flex: 1;
}

.spring {
    background-color: #d9b1b3;
    padding: 50px 0;
    color: white;
}

.spring .row-column {
    justify-content: center;
}

.spring .row {
    justify-content: center;
}

.spring .spring-heading {
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    padding: 2rem 0 2rem 0;
}

.spring .arrow-container {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
    text-align: center;
}

.spring .arrow-image {
    margin: auto;
    background-image: url(../img/icons8-right-arrow-50\ \(1\).png);
}

.spring .spring-img-container {
    display: flex;
    flex-grow: 1;
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 5px;
    text-align: center;
}

.spring .spring-image-1 {
    background-image: url(../img/slide-1.jpg);
    /* margin: 0 0 0 12rem; */
}

.spring .spring-image-2 {
    background-image: url(../img/slide-2.jpg);
}

.spring .spring-image-3 {
    background-image: url(../img/slide-3.jpg);
}

.spring .spring-image-4 {
    background-image: url(../img/slide-4.jpg);
}

.end {
    background-color: grey;
    color: white;
}

.end .sample-text {
    font-size: 0.875rem;
    margin: 50px 152px;
    text-align: center;
}

.end .link {
    font-size: 0.8rem;
    margin: 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.shoe {
    flex-direction: row;
    display: flex;
}

.shoe-section {
    display: flex;
    row-gap: 1rem;
}

.shoe .shoe-img-container {
    display: flex;
    flex-grow: 1;
    margin: 1rem;
    width: 299px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
}

.shoe .shoe-image-1 {
    background-image: url(../img/product-1.jpg);
}

.shoe .shoe-image-2 {
    background-image: url(../img/product-2.jpg);
}

.button {
    background-color: black;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    margin: 0 0 4rem 0;
}

.product {
    margin: 4rem 0 2.5rem 0;
}

.cash {
    margin: 0.6rem 0 1.5rem 0;
}

.button-text {
    margin: 0 0 1.2rem 0;
}
.subscribe {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.subscribe .subscribe-image {
    width: 50%;
}
.subscribe .subscribe-text {
    width: 50%;
    margin: 150px 100px;
}
.subscribe-text .pink-line {
    color: #d9b1b3;
    margin-top: 105px;
    margin-bottom: 0px;
    height: 10px;
    border-style: solid;
    border-width: 5px;
    font-size: 1rem;
    width: 100%;
}
.subscribe-text .subscribe-heading {
    font-size: 5rem;
    font-style: italic;
    color: black;
    text-align: center;
    margin: 2rem 0 3.5rem 0;
}
.subscribe-form .input {
    display: flex;
    text-align: center;
}
.input .input-container-box {
    padding: 0 5px;
    justify-content: space-between;
    width: 48%;
}
.input-container-box .text-input {
    padding: 12px 10px;
    width: 100%;
}
.input-container-button  {
    text-align: center;
}
.input-container-button .form-button {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: unset;
    text-align: center;
    padding: 12px 30px;
}
.last-sample {
    font-size: 0.9rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
}
.contact {
    text-align: center;
}
.twitter {
    margin: 0 1rem;
}